##### Handling Imbalanced Dataset

1. Upsampling
2. Downsampling

In [1]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [10]:
### Create Dataframe with imbalanced Dataset
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size = n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size = n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size = n_class_1),
    'feature_2' : np.random.normal(loc=0, scale=1, size = n_class_1),
    'target' : [1] * n_class_1
})

In [11]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [12]:
df.head()

   feature_1  feature_2  target
0   0.226907  -0.525923       0
1  -2.398554   0.229579       0
2  -0.447858  -0.560087       0
3   0.197384   1.115389       0
4   0.627365   0.698765       0

In [13]:
df.tail()

     feature_1  feature_2  target
995  -1.877167   0.758545       1
996   0.862814   0.582465       1
997   0.733225  -1.607035       1
998  -0.657433  -0.390761       1
999  -0.157614   1.144320       1

In [14]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

##### Upsampling

In [17]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [18]:
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority, replace=True, n_samples=len(df_majority),random_state=42) ## Samples get added with replacement

In [19]:
df_minority_upsampled.shape

(900, 3)

In [20]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [22]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

##### Downsampling

In [24]:
### Create Dataframe with imbalanced Dataset
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size = n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size = n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size = n_class_1),
    'feature_2' : np.random.normal(loc=0, scale=1, size = n_class_1),
    'target' : [1] * n_class_1
})

In [25]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [27]:
from sklearn.utils import resample

df_majority_downsampled = resample(df_majority, replace=False, n_samples=len(df_minority),random_state=42) ## Samples get reduced

In [28]:
df_majority_downsampled.shape

(100, 3)

In [29]:
df_downsampled = pd.concat([df_majority_downsampled,df_minority])

In [31]:
df_downsampled['target'].value_counts()

0    100
1    100
Name: target, dtype: int64